body {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #FB4E12;
    background-color: #000710;

}

input {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    background-color: #FB4E12;
    border-style: double;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #000710;
    border-width: 5px;
}

button {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    border-style: double;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #000710;
    border-width: 5px;
}


select {
	font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    border-style: double;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: #000710;
    border-width: 5px;
}

select:active, select option:hover {
    background-color: #000710;
    color: #FB4E12;
}

option {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    border-right-style: double;
    border-left-style: double;
    border-top-style: none;
    border-bottom-style: none;
    border-color: #000710;
    border-width: 5px;
}

option:first-child {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    border-right-style: double;
    border-left-style: double;
    border-top-style: double;
    border-bottom-style: none;
    border-color: #000710;
    border-width: 5px;
}

option:last-child {
    font-family: Arial;
    font-size: 18.67px;
    font-weight: bold;
    color: #000710;
    background-color: #FB4E12;
    border-right-style: double;
    border-left-style: double;
    border-bottom-style: double;
    border-top-style: none;
    border-color: #000710;
    border-width: 5px;
}